.ui-slider-boxs {
  width: 100%;
  overflow: hidden;
  position: relative;
  .slide-wrapper {
    width: 414px;
    position: relative;
    left: 0px;
    .slider-item {
      width: 414px;
      float: left;
      list-style: none;
      .banner_img {
        display: inline-block;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }
  }
  .ui-slider-dots {
    text-align: center;
    margin-top: 0;
    width: 100%;
    position: absolute;
    bottom: .4375rem;
    b {
      display: inline-block;
      width: .375rem;
      height: .375rem;
      border-radius: .375rem;
      margin-right: .3125rem;
      border: 0;
      .ui-dot-select {
        background-color: rgba(255,255,255,1);
        background: #ed145b;
      }
    }
  }
}


// icon
.deals-icon {
  background: #fff;
  margin-bottom: .427rem;
  ul {
    text-align: center;
    padding: .907rem 0;
    li {
      width: 4.818rem;
      display: inline-block;
      text-align: center;
      position: relative;
      list-style: none;
      font-size: 14px;
      a {
        text-decoration: none;
        color: #000;
        img {
          display: block;
          width: 53.2%;
          margin: 0 auto;
          border: none;
        }
        .deals-text {
          width: 100%;
          color: #666;
          margin-top: .4rem;
          text-align: center;
          font-size: 12px;
        }
      }
    }
  }
}



// content
// content-header
.deals-content-header {
  text-align: center;
  .head_bg {
    width: .827rem;
    height: 2.133rem;
    line-height: 2.133rem;
    position: relative;
    top: .1875rem;
    img {
      width: 100%;
    }
  }
  span {
    color: #333;
    font-size: 14px;
    display: inline-block;
  }
}
